* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f1da0a23;
}

#title {
    text-align: center;
    font-size: 3rem;
}

#header {
    height: 1%;
    display: flex;
    flex-flow: column;
}

#setting-icon {
    margin: 0 .5rem;
    font-size: 1.5rem;
    color: #77765c;
    align-self: flex-end;
    opacity: .5;
    cursor: pointer;
}
#setting-icon:hover {
    font-size: 1.8rem;
    opacity: 1;
}

#contents-area {
    height: 95%;
}    

#input-area {
    margin-top: 2rem;
    text-align: center;
}    
#week-choice-area {
    display: inline-flex;
    width: 750px;
}
#week-choice-area .week-choice {
    display: grid;
    width: 48%;
    margin: 0 5px;
    text-align: -webkit-center;
    cursor: pointer;
    
    color: rgb(180, 175, 175);
    background-color: #f1a05527;
    border: dashed 2px;
    border-radius: 20px;
}
#week-choice-area .week-choice.active:not(.deadline-missed) {
    color: initial;
    background-color: #f18b2b62;
    border: double 2px rgba(117, 108, 98, 0.541);;
    border-radius: 20px;
}

#week-choice-area .week-choice-input {
    height: 2.5rem;
    margin: 0.5rem 1rem;
}
#week-choice-area .week-choice input {
    display: none;
}
#week-choice-area .week-choice label {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
#week-choice-area .week-choice.active:not(.deadline-missed) label {
    color: rgb(212, 121, 2);
}

#week-choice-area .week-choice .image {
    margin: 0.5rem 1rem;
    filter: grayscale(0.8);
}
#week-choice-area .week-choice.active:not(.deadline-missed) .image {
    filter: none;
}

#week-choice-area .week-choice .description {
    width: 85%;
    margin: 0.5rem 1rem;
}

#keyword-area {
    margin-top: 2rem;
}
#keyword-area .label {
    font-size: 2rem;
}
#keyword-field {
    width: 30rem;
    height: 3rem;
    border-radius: 6px;
    font-size: 2rem;
    padding: 0.3rem;
    color: rgb(71, 52, 52);
}

#button-area {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

#btn-send {
    width: 25%;
    background-color: #ff7c01;
    border-radius: 10px;
}
#btn-send:hover {
    opacity: 0.7;
}
#btn-send:active {
    opacity: 1;
}
#btn-send:disabled {
    background-color: #d1c5b9;
}
#btn-send.working {
    display: none;
}

#btn-stop {
    display: none;
    width: 25%;
    background-color: #ff0101;
    border-radius: 10px;
}
#btn-stop:hover {
    opacity: 0.7;
}
#btn-stop:active {
    opacity: 1;
}
#btn-stop:disabled {
    background-color: #d1c5b9;
    display: none;
}
#btn-stop.working {
    display: block;
}
